<div class="form-center">
  <div class="form-center-content">
    <div class="w-30">
      <h2>Editing Gallery</h2>

      <%= render 'form', gallery: @gallery %>

      <%= link_to 'Show', @gallery %> |
      <%= link_to 'Back', galleries_path %>
    </div>
  </div>
</div>